.information {
  margin-top: 31rem;
  background-color: var(--bg-light);
  padding: 1.6rem;
  padding-bottom: 23.9rem;

  ::selection {
    background: var(--main-text);
  }
}

.information__title {
  padding: 3rem 0rem;
  text-align: center;
  font-size: 2.2rem;
  color: black;
}

.information__container,
.information__card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 45rem; */
}

.information__container {
  gap: 5rem;
}

.information__card-container {
  max-width: 45rem;
}

.information__paragraph {
  padding-top: 2rem;
  font-size: 1.45rem;
  font-family: cursive;
  color: rgb(64, 64, 64);
}

.information__paragraph > i {
  font-size: inherit;
  font-family: inherti;
  color: inherit;
}

.information__img {
  border-radius: 1rem;
  object-fit: cover;
  max-width: 100%;
}

@media (min-width: 728px) {
  .information {
    padding: 1.6rem 1.6rem 23.9rem;
  }

  .information__container {
    display: grid;
    grid-area: auto;
    grid-template-areas:
      "card card"
      "card card";
    align-items: flex-start;
  }

  .information__card-container {
    max-width: 35rem;
  }

  .information__title {
    font-size: 3rem;
    padding: 4.5rem 0rem;
  }

  .information__paragraph {
    font-size: 1.6rem;
  }

  .information__img {
    height: 35rem;
    width: 35rem;
  }
}

@media (min-width: 1440px) {
  .information__container {
    display: flex;
    flex-direction: row;
  }

  .information__card-container {
    max-width: 25rem;
  }

  .information__title {
    font-size: 4rem;
    padding: 6rem 0rem;
  }

  .information__paragraph {
    font-size: 1.7rem;
  }

  .information__img {
    height: 25rem;
    width: 25rem;
  }
}
